[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = ">=2.25.0"
flask = "*"

[dev-packages]
requests = "==2.23.0"
pytest = "*"

[requires]
python_version = "3.9"
